.update-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 15rem;
}

.update-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #760808;
    border-radius: 5px;
    font-size: 16px;
}

.update-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.update-container button:hover {
    background-color: #218838;
}

.error-message {
    margin-top: 10px;
    color: #dc3545;
    font-weight: bold;
    text-align: center;
}